# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.sdf
*.suo
*.opensdf
*.user
*.userprefs
*.vcxproj.filters

# Build artifacts
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe

# Local caches
*.tmp
Thumbs.db
